<section class="dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
	      <p>
		20+ years of experience as a software engineer,
		manager, and business leader. 
		I founded and sold two startups (BillMonk, Precision Polling),
		and built two business units from scratch in 
		rapid-growth startups (Audience at SurveyMonkey grew to a $20+ million ARR business;
		and Marketplace at VTS was the fastest-growing product in proptech history).
		</p>
	      <p>
		I'm here to help software startups get off the ground.
		I enjoy growing teams, coaching engineers and leaders,
		and collaborating to find solutions to real-world problems. 
	      </p>
	    </div>
	    <div class="col-sm-6">
	      <!--<h3 style="margin-top:0;">Career</h3>-->
	      <ul>
		<li>Serial entrepreneur with two successful exits</li>
		<li>Experience managing engineers and managing managers</li>
		<li>Extensive recruiting background, with 800+ engineering inverviews</li>
		<li>Have worked at numerous early- and mid-stage startups, as well as at Amazon</li>
		<li>Strong in Python, Ruby, PostgreSQL</li>
		<li>Computer Science degree from Swarthmore College</li>
		<li><a href="https://cgroom.medium.com" target="_blank">Prolific writing about startups</a></li>
	      </ul>
	      
	      <p>
		    <a href="https://www.linkedin.com/in/cgroom/" target="_blank">See my LinkedIn profile</a> for more details.
		</p>
	    </div>
        </div>
    </div>
</section>
