<section id="consulting">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Consulting</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
	      <p>
		Do you need help <b>hiring engineers and leadership talent</b> for your team? 
	      </p>
	      <p>
		Are you at the early stage of your business, and need <b>technical guidance and support</b> to get started building your product? 
	      </p>
	      <p>
		Is your business struggling with <b>communication and process breakdowns</b> as the team gets bigger?
	      </p>
	      <p>
		My approach is to work with clients to identify their
		most critical problems and to define engagements
		around those areas.
	      </p>
	    </div>
	    <div class="col-sm-6">
	      <h3 style="margin-top:0;">I Can Help</h3>
	      <ul>
		<li>Build an engineering team by working with recruiters, interviewing candidates, and establishing a hiring process with a high bar</li>
		<li>Facilitate taking an early-stage idea through product definition, customer validation, and technical design</li>
		<li>Coach engineering teams and leadership on best practices for reliable delivery and high-quality output</li>
		<li>Work with business stakeholders to identify product gaps and create a strategic roadmap</li>
		<li>Rapidly prototype and validate a product solution</li>
		<li>Evaluate software architecture design</li>
	      </ul>
	      <p>
		I'm always happy to start consultation with a free
		introduction phone call.
	      </p>
	    </div>
        </div>
    </div>
</section>
