<section id="consulting">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Consulting CTO Model</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
			<p>
			  A good CTO is a professional who wears many hats
			  to help a business to shape its strategy, to execute on its vision,
			  and to build a cohesive team.
			</p>
			<p>
				<i>But what if you don't have the infrastructure to hire a full-time CTO?</i>
				Or if your team is in transition between leaders, and you need support right now?
				Or you're facing one particular challenge?</i>
			</p>
			<p>
				As a consulting CTO (or VPE), I can help you. I offer three types of engagements:
				<b>consulting</b> to deliver a solution to a problem (days or weeks);
				<b>fractional CTO</b> to provide technical strategy and team support (months);
				or <b>advisor</b> for coaching and company strategy (long term).
			</p>
	    </div>
	    <div class="col-sm-6">
	      <!--<h3 style="margin-top:0;">I Can Help</h3>-->
	      <p>
		 I solve problems like:
	      </p>
	      <ul>
			  <li>
				  <b>Technical strategy</b> - how to get started on building a new product?
			  </li>
			  <li>
				  <b>Team alignment</b> - does the direction make sense to everyone?
				  Are people contributing ideas? Are they set up to take ownership?
			  </li>
			  <li>
				  <b>Building a great team</b> - who should we hire, and what is our process?
				  Can we get internal support to vet those first few key hires?
			  </li>
			  <li>
				  <b>Coaching</b> - how do we grow our engineers into leaders? How can leadership
				  "bridge the gap" with their engineering team, so there can be
				  cross-functional collaboration?
			  </li>
			  <li>
				  <b>Transition</b> - how do we stabilize and support our team in a time of change?
			  </li>
	      </ul>
			</p>
	    </div>
        </div>
    </div>
</section>
