<section id="consulting">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Consulting CTO</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
	    <div class="col-sm-6">
			<p>
			  The CTO / VPE is an engineering leader who wears many hats
			  to help a business to shape its strategy, to execute on its vision,
			  and to build a cohesive team.
			</p>
			<p>
				<i>But what if you don't have the infrastructure to hire a full-time CTO?</i>
				Or if your team is in transition between leaders, and you need support right now?
				Or you're facing one particular challenge?</i>
			</p>
			<p>
				As a consulting CTO, I can help you. I offer three types of engagements:
				<b>consulting</b> to focus on a particular problem;
				<b>fractional CTO</b> to support a team over a period of time;
				or <b>advisor</b> for coaching and strategy over a longer term.
			</p>
	    </div>
	    <div class="col-sm-6">
	      <!--<h3 style="margin-top:0;">I Can Help</h3>-->
	      <ul>
			  <li>
				  <b>Technical strategy</b> - we want to build a new product, but where do we get started?
			  </li>
			  <li>
				  <b>Building a great team</b> - how do we hire software engineers? What does a great interview
				  process look like? How much should we pay people? How do we motivate and provide career direction
				  to our team?
			  </li>
			  <li>
				  <b>Improving performance</b> - something isn't working in our ability to execute,
				  and people are getting frustrated. How do we set up a better framework for
				  planning, setting expectations, and  feedback loops?
			  </li>
			  <li>
				  <b>Transition</b> - how do we stabilize and support our team in a time of change?
			  </li>
	      </ul>
			</p>
	    </div>
        </div>
    </div>
</section>
