 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How We Can Work Together</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
	      <div class="col-lg-8 col-lg-offset-2">
              <p>
                  Client engagements start with a call! Pick a time below to talk.
              </p>
              <p>
                  For significant engagements, I'll suggest we arrange a follow-up 2-hour workshop (no charge) with
                  leadership to discuss the challenges the team is facing. This gives us an opportunity
                  to develop a shared understanding of the problems, and for you to be comfortable with my style of working.
              </p>
              <p>
<center>
              <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" class="btn btn-primary btn-lg" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/chuck-groom'});return false;">Get Started - Choose a Time to Meet</a>
<!-- Calendly link widget end -->
</center>
              </p>
	      </div>
            </div>
        </div>
    </section>
